.linkIndisponivelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkIndisponivelContainer h2 {
  margin-bottom: 50px;
}
