.dropzone {
  flex: 1;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:hover {
  border-color: #17a2b8;
}

.accept {
  border-color: #66bb6a;
}

.decline {
  border-color: #ef5350;
}

.with-file {
  border-color: #00838f;
}

.thumb {
  margin: 4px;
  display: inline-flex;
  box-sizing: border-box;
}

.thumbsContainer {
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;
}

.thumbLabel {
  font-size: 14px;
  color: #9e9e9e;
}

.thumb .thumbInner {
  display: flex;
}

.preview {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  object-fit: contain;
  background-color: #000;
}
