.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.footerLogo {
  height: 24px;
  filter: grayscale(1);
  opacity: 0.3;
}

.footerText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 16px;
}
